body {
    margin: auto;
    background-image: url("../images/bg.gif");
    font-family: 'Butterfly Kids', cursive;
    font-size: 10vw;
    text-align: center;
}

#sound {
    opacity: .5;
    height: 10vw;
    position: absolute;
    top: 0;
    right: 0;
}

#wrapper, #loading {
    width: 80vw;
    height: 40vw;
    margin: 5vw auto;
    background-color: rgba(455, 455, 455, 70%);
}

.grid-container {
    height: auto;
    width: auto;
    display: grid;
    grid-template-areas: 
    'info chat'
    'rps chat';
    grid-gap: 0px;
}
#loading{
    line-height: 40vw;
}

.player-select{
    height: 10vw;
    width: auto;
    margin: 1vw;
}

#pink-select{
    transform: rotate(-10deg);
    -webkit-transition: -webkit-transform 1s, height 1s;
    transition: transform 1s, height 1s;
}

#pink-select:hover{
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}

#pink-selected{
    height: 11vw;
    width: auto;
    transform: rotate(20deg);
    opacity: 0.7;
}

#brown-select{
    transform: rotate(10deg);
    -webkit-transition: -webkit-transform 1s, height 1s;
    transition: transform 1s, height 1s;
}

#brown-select:hover{    
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    width: auto;
}

#brown-selected{
    height: 11vw;
    width: auto;
    transform: rotate(-20deg);
    opacity: 0.7;
}

#pink-selected:hover, #brown-selected:hover {
    cursor: not-allowed;
}

.info-container{
    height: 21vw;
    width: 40vw;
    grid-area: info;
}

#pink-result, #brown-result {
    height: 10vw;
}


#vs{
    display: none;
    vertical-align: super;
}

#info-display{
    text-transform: capitalize;
}

#different-choice{
    display: none;
}

#WTL {
    margin-top: -2vw;
}

.rps-container{
    height: 19vw;
    width: 40vw;
    background-color: rgb(238,239,240);
    grid-area: rps;
}

.chat-container {
    height: 40vw;
    width: 40vw;
    grid-area: chat;
}

h6{    
    font-family: 'Butterfly Kids', cursive;
    font-size: 3vw;
}

.kawaii-img, .kawaii-img:hover:active {
    margin: 0px;
    float: left;
    height: 18vw;
    width: auto;    
}

.kawaii-img:hover {
    height:19vw;
}


#chat-history{
    height: 35vw;    
    margin: 0px;
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 1vw;
}

::-webkit-scrollbar-thumb, #chat-history, ::-webkit-scrollbar-track, ::-webkit-scrollbar-corner{
    background: none;
}

::-webkit-scrollbar-thumb:hover{
    background: rgba(400, 50, 50, 20%);    
}

form{
    margin: 0px;
    height: 5vw;
    padding: 0px;
}
#text-message{
    width: 32.8vw;
    height: 4.8vw;
    margin: 0px;
    border: .1vw solid pink;
    padding: 0vw 1vw;
    position: absolute;
    top: 40vw;
    right: 15vw;
}

#chat-button {
    margin: 0px;
    border: 0px;
    padding:0px;
    height: 5vw;
    width: 5vw;
    background-color: pink;
    position: absolute;
    top: 40vw;
    right: 10vw;
}

#chat-history, #text-message, #chat-button, p {    
    font-family: 'Butterfly Kids', cursive;
    font-size: 2.5vw;
    
    outline: none;
}

.pink-message{
    background-color: rgb(255,226,224);    
    color: rgb(255,149,153);
}

.brown-message{
    background-color: rgb(216,212,179);
    color: rgb(150,108,56);
}

.spectator-message{
    background-color: lightgray;
    color: gray;
}

.pink-message, .brown-message, .spectator-message {
    width: 30vw;
    border-radius: 2vw;
    padding: .5vw;
}

.same {
    margin: 1vw 0vw 1vw 7vw;
}

.different {    
    margin: 1vw 15vw 1vw 2vw;
}